<div id="banner" class="container_f">
    <!-- <ul>
        <li class="active"><a href=""><img src="../static/img/banner_img1.jpg"></a></li>
        <li><a href=""><img src="../static/img/banner_img2.jpg"></a></li>
        <li><a href=""><img src="../static/img/banner_img3.jpg"></a></li>
    </ul>
    <div class="container">
        <ol>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div> -->

    <article id="at_list">
        <p class="phone">手机<span class="left_list">></span></p>
        <p class="book">笔记本<span class="left_list">></span></p>
        <p class="pad">平板<span class="left_list">></span></p>
    </article>
    <!-- <aside id="change_list">
        <div>
            <img src="https://res0.vmallres.com/pimages//product/6901443398027/428_428_C5B3EEB31BA081CF605FE04A1118DEF332F4C3003CC60ECEmp.png">
            <h2>1111111</h2>
            <p>1111111111</p>        
        </div>
    </aside>     -->

    <span class="jian_l"></span>
    <span class="jian_r"></span>
</div>