<div id="banner" class="container_f">
    <!-- <ul>
        <li class="active"><a href=""><img src="../static/img/banner_img1.jpg"></a></li>
        <li><a href=""><img src="../static/img/banner_img2.jpg"></a></li>
        <li><a href=""><img src="../static/img/banner_img3.jpg"></a></li>
    </ul>
    <div class="container">
        <ol>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div> -->
    <span class="jian_l"></span>
    <span class="jian_r"></span>
</div>