<div id="header" class="container_f">
    <div class="container_f" id="header_1">
        <div class="container" id="head_1">
            <ul class="l">
                <li class="l"><a>首页</a></li>
                <li class="l"><a>华为官网</a></li>
                <li class="l"><a>荣耀官网</a></li>
                <li class="l"><a>花粉俱乐部</a></li>
                <li class="l"><a>V码(优购码)</a></li>
                <li class="l"><a>企业购</a></li>
                <li class="l"><a>Select Region</a></li>
                <li class="l"><a>更多精彩</a></li>
            </ul>
            <ol class="r">
                <li class="l"><a href="../view/login.html">请登录</a></li>
                <li class="l"><a>我的订单</a></li>
                <li class="l"><a>客户服务</a></li>
                <li class="l"><a>网站导航</a></li>
                <li class="l"><a>手机版</a></li>
                <li class="l"><a>购物车</a></li>
            </ol>
        </div>
    </div>
    <div class="container" id="head_2">
        <img src="../static/img/vmall_logo.png">
    </div>
</div>