<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/detail.css">
    <link rel="stylesheet" href="/static/icon/iconfont.css">
    <script src="../lib/require.js" data-main="../js/detail.js"></script>

</head>
<body>
    @include('head.html')
    @include('banner.html')
    <div id="shop" class="container">
        <!-- <div class="box">
            <img src="" class="l">
            <div class="r d_r">
                <h2>111111111111111</h2>
                <h3>价格:</h3>
                <p>选择颜色</p>
                <div class="bot">
                    <div class="bot_l l">
                        <input type="text" class="l">
                        <button id="add" class="l">+</button>
                        <button id="unadd" class="l">-</button>
                    </div>
                    <div class="bot_r l">
                        <button id="add_cart">加入购物车</button>
                        <button id="buy">立即下单</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    @include('foot.html')

</body>
</html>