<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/static/icon/iconfont.css">
    <script src="../lib/require.js" data-main="../js/index.js"></script>
</head>
<body>
    @include('head.html')
    @include('banner.html')
    <div id="phone" class="container">
    <!-- <p></p>
        <ul>
            <li>
                <img src="https://res0.vmallres.com/pimages//product/6901443398027/428_428_C5B3EEB31BA081CF605FE04A1118DEF332F4C3003CC60ECEmp.png">
                <h2>1111111</h2>
                <h3>1111111</h3>
                <p>1111111111</p>        
            </li>
        </ul> -->
    </div>
    <div id="pad" class="container"></div>
    <div id="book" class="container"></div>
    @include('foot.html')
</body>
</html>